
app/assets/bootstrap/.DS_Store
app/assets/bootstrap/css/.DS_Store
app/assets/css/.DS_Store
app/controllers/.DS_Store
app/models/.DS_Store
app/views/home_page/.DS_Store
app/views/layouts/.DS_Store
config/.DS_Store
tmp/.DS_Store
.DS_Store
app/.DS_Store
app/views/.DS_Store
app/.DS_Store

#ignore bundler config
/.bundle

#ignore the default SQLite database
/db/*.sqlite3
/db/*.dqlite3-journal

# ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
