<html>
    <div id="logo">
        <%= image_tag @club.pictures.find_by_name("logo").pic %>
    </div>
    <div id="club name">
        <h1><%= @club.name %></h1>
    </div>
    <div id="mission statement">
        <p><%= @club.descriptions.find_by_name("mission_statement").content %></p>
    </div>
</html>
