// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.myDiv {
  text-align: center;
}

.myDiv h1 {
  display: inline-block;
  font-family: 'Gabriela', serif;
  color: #ffd700;
  font-size: 3.5em;
  border-radius: 20px;
  background: rgba(20, 0, 255, 0.9 /* alpha value for background */);
  padding: 0.5em 0.2em 0.8em 0.5em;
}











